html,
body {
  padding: 0;
  margin: 0;
}

.ant-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  background: #fff;
  border-color: #d9d9d9;
}

.ant-btn:active,
.ant-btn:hover {
  color: #096dd9;
  background: #fff;
  border-color: #096dd9;
}

.ant-btn .ant-btn-primary {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}

.popup-container {
  width: 500px;
  padding: 12px;
}

.ant-input {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: #000000d9;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}

.ant-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px #1890ff33;
}

.ant-row {
  margin-top: 10px;
}

.ant-card-head {
  margin-bottom: -1px;
  color: #666;
  font-weight: 500;
  font-size: 16px;
  background: 0 0;
  border-bottom: 1px solid #f0f0f0;
}

.ant-card-head-title {
  display: inline-block;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-card-body {
  padding-top: 12px;
}

.ant-alert-success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
  border-radius: 2px;
  padding: 8px 15px;
}

.ant-alert-content {
  flex: 1;
  min-width: 0;
}

.ant-alert-message {
  color: #000000d9;
  font-size: 14px;
}

.hide {
  display: none;
}

.cookie-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.cookie-table thead {
  font-size: 14px;
  background: #fafafa;
}

.cookie-table td {
  padding: 8px 12px;
  border: 1px solid #f0f0f0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-record {
  text-align: center;
}
